<!DOCTYPE html>
<html>
    <head>        
        <meta charset="utf-8" />
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <title>
        </title>        
        <link rel="stylesheet" href="https://s3.amazonaws.com/codiqa-cdn/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
        <script src="https://s3.amazonaws.com/codiqa-cdn/jquery-1.7.2.min.js">
        </script>
        <script type="text/javascript">
            $(document).bind("mobileinit", function () {
                $.mobile.ajaxEnabled = false;
            });
        </script>
        <script src="https://s3.amazonaws.com/codiqa-cdn/mobile/1.2.0/jquery.mobile-1.2.0.min.js">        
        </script>

        {% load staticfiles %}

        <script src="{% static 'tips/jquery.raty.js' %}">
        </script>

        <!-- User-generated css -->
        <style>
        </style>
        <!-- User-generated js -->
        <script>            
            $(document).ready( function(){
                console.log("here");
                //initializes the ratings                                

                $.fn.extend({
                    sliderLabels: function(left,right) {
                        var $this = $(this); 
                        var $sliderdiv= $this.next("div.ui-slider[role='application']");
                        $sliderdiv
                        .css({'font-weight': 'normal'}); 
                        $sliderdiv
                        .prepend('<span class="ui-slider-inner-label"  style="position: absolute; left:0px; top:25px; bottom: 10px;">'+left+ '</span>')
                        .append('<span class="ui-slider-inner-label" style="position: absolute; right:0px; top:25px; bottom: 10px;">'+right+ '</span>');         
                    }
                });                

                $("#map").click(function(e){
                    alert("hereinmap");
                    var random=Math.floor(Math.random()*10+1);
                    $("#chosen_salon").html("Changed to salon " + random);

                    //shows the next part
                    $("#select_attendant").css('visibility', 'visible');

                });

                $("#select_attendant").click(function(e){                                
                    //shows the next part
                    $("#select_service").css('visibility', 'visible');
                });
                $("#select_service").click(function(e){                                
                    //shows the next part
                    $("#next_button").css('visibility', 'visible');
                });
                $("#submitSearch").click(function(e){                                
                    //shows the next part
                    $("#sample_results").css('visibility', 'visible');
                });

                //$('div').hide();  // hide everything that isn't #myDiv
                $(".hidden").hide();
                $("#reviews").show();


                console.log("end");

                $('.starratings').raty({ 
                    path: "{% static 'tips/big-img' %}",
                    size: 48,
                    halfShow: true});
                });   
               

        </script>
        <script>
            function showsalon(){
                $("#id_salon").val($("#select_salon").val());
                $("#id_service").val($("#select_service").val());
                $("#id_stylist").val($("#select_attendant").val());


                console.log($("#select_salon").val());
                console.log($("#select_service").val());
                console.log($("#select_attendant").val());

                $("#reviews").hide();
                $("#rate_salon").show();
            }

            function showperson(){
                
                var atmosphere = $("input[name='atmosphere-choice-2']:checked").val();
                var waittime = $("input[name='waittime-choice-2']:checked").val();
                
                console.log("atmosphere");
                console.log(atmosphere);
                console.log("waittime");
                console.log(waittime);
                console.log("score");
                console.log($('#salonstar').raty('score'));

                $("#id_salon_rating").val($('#salonstar').raty('score'));
                $("#id_wait_rating").val(waittime);
                $("#id_atmosphere_rating").val(atmosphere);

                $("#rate_salon").hide();
                $("#rate_person").show();
            }

            function showservice(){
                $("#id_stylist_rating").val($('#personstar').raty('score'));
                $("#id_personality_rating").val($("input[name='personality-choice-2']:checked").val());
                $("#id_talking_rating").val($("input[name='talking-choice-2']:checked").val());
                $("#id_expertise_rating").val($("input[name='expertise-choice-2']:checked").val());

                $("#rate_person").hide();
                $("#rate_service").show();
            }

            function showfinal(){
                //gets values of everything and puts them in the form itself                
                $("#id_service_rating").val($('#servicestar').raty('score'));

                $("#id_price_rating").val($("input[name='pricing-choice-2']:checked").val());
                $("#id_quality_rating").val($("input[name='howdoyoulook-choice-2']:checked").val());          

                $("#id_stylist_feedback").val("texthere");
                $("#id_salon_feedback").val("texthere");
                $("#id_service_feedback").val("texthere");

                //NOTE: don't have fields for customer service or timeliness (probably don't need)
                //$("#id_personality_rating").val("34");

                //alert("new val: " + $("#id_salon").val())
                
                //alert("new val2: " + $("#id_personality_rating").val())

                $("#rate_service").hide();
                $("#complete").show();
            }
        </script>
    </head>
    <body>
        <!-- Home -->

        <div id="reviews" class = "hidden">
            <div data-theme="a" data-role="header">
                <h3>
                    Review A Salon
                </h3>
                <div data-role="navbar" data-iconpos="left">
                    <ul>
                        <li>
                            <a href="../" data-rel = "back" data-transition="fade" data-theme="a" data-icon="arrow-l">
                                Back
                            </a>
                        </li>
                        <li>
                            <a href="../" data-transition="fade" data-theme="" data-icon="home">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#home" data-transition="fade" data-theme="" data-icon="refresh" onclick="location.reload(true)">
                                Refresh
                            </a>
                        </li>
                    </ul>
                </div>                
            </div>
            <div data-role="content">
                <div data-role="fieldcontain">
                    <label for="select_salon">
                    </label>
                    <select name="" data-theme="b" data-mini="false" id = "select_salon">
                        <option value="select">
                            1) Select Salon:
                        </option>
                        <option value="Great Clips">
                            Great Clips
                        </option>
                        <option value="La Flamme">
                            La Flamme
                        </option>
                        <option value="Hair Cuttery">
                            Hair Cuttery
                        </option>
                    </select>
                </div>


                <div data-role="fieldcontain">
                    <label for="select_attendant">
                    </label>
                    <select name="" data-theme="b" data-mini="false"  id = "select_attendant">
                        <option value="select">
                            2) Select Attendant:
                        </option>
                        <option value="james">
                            James
                        </option>
                        <option value="nithin">
                            Nithin
                        </option>
                        <option value="neel">
                            Neel
                        </option>
                    </select>
                </div>
                <div data-role="fieldcontain">
                    <label for="select_service">
                    </label>
                    <select name="" data-theme="b" data-mini="false"  id = "select_service">
                        <option value="select">
                            3) Select Service:
                        </option>
                        <option value="haircut">
                            Haircut
                        </option>
                        <option value="manicure">
                            Manicure
                        </option>
                        <option value="blowdry">
                            Blowdry
                        </option>
                    </select>
                </div>

                <a data-role="button" data-theme="a" href="" data-icon="check" data-iconpos="right" id = "next_button" onclick = "showsalon()">
                    Begin the Review!
                </a>
            </div>
        </div>

        <div id="rate_salon" class = "hidden">
            <div data-theme="a" data-role="header">
                <h3>
                    Salon
                </h3>
                <div data-role="navbar" data-iconpos="left">
                    <ul>
                        <li>
                            <a href="../" data-rel = "back" data-transition="fade" data-theme="a" data-icon="arrow-l">
                                Back
                            </a>
                        </li>
                        <li>
                            <a href="../" data-transition="fade" data-theme="" data-icon="home">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#home" data-transition="fade" data-theme="" data-icon="refresh" onclick="location.reload(true)">
                                Refresh
                            </a>
                        </li>
                    </ul>
                </div>                
            </div>
            <div data-role="content"> 
                <h1>Salon Feedback</h1>

                <h3>Overall: </h3>
                <div class = "starratings" id = "salonstar"></div>                        
                
                <div data-role="fieldcontain" id = "atmosphere">
                    <fieldset data-role="controlgroup" data-type="horizontal" id = "atmosphere">
                        <legend>Atmosphere: </legend>
                            <input type="radio" name="atmosphere-choice-2" id="atmosphere-choice-21" value="1" />
                            <label for="atmosphere-choice-21">Unpleasant</label>                            

                            <input type="radio" name="atmosphere-choice-2" id="atmosphere-choice-22" value="2"  />
                            <label for="atmosphere-choice-22">Pleasant</label>
                    </fieldset>
                </div>

                <div data-role="fieldcontain" id = "waittime" >
                    <fieldset data-role="controlgroup" data-type="horizontal" id = "waittime">
                        <legend>Wait Time: </legend>
                            <input type="radio" name="waittime-choice-2" id="waittime-choice-21" value="1" />
                            <label for="waittime-choice-21">Very fast</label>                            

                            <input type="radio" name="waittime-choice-2" id="waittime-choice-22" value="2"  />
                            <label for="waittime-choice-22">Average</label>

                            <input type="radio" name="waittime-choice-2" id="waittime-choice-23" value="3"  />
                            <label for="waittime-choice-23">Very slow</label>
                    </fieldset>
                </div>

                <a data-role="button" data-theme="a" href="" data-icon="check" data-iconpos="right" id = "next_button" onclick = "showperson()">
                    Continue (1/3)
                </a>
            </div>
        </div>

        <div id="rate_person" class = "hidden">
            <div data-theme="a" data-role="header">
                <h3>
                    Hairdresser
                </h3>
                <div data-role="navbar" data-iconpos="left">
                    <ul>
                        <li>
                            <a href="../" data-rel = "back" data-transition="fade" data-theme="a" data-icon="arrow-l">
                                Back
                            </a>
                        </li>
                        <li>
                            <a href="../" data-transition="fade" data-theme="" data-icon="home">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#home" data-transition="fade" data-theme="" data-icon="refresh" onclick="location.reload(true)">
                                Refresh
                            </a>
                        </li>
                    </ul>
                </div>                
            </div>
            <div data-role="content">   
                <h1>Hairdresser Feedback</h1>
             
                <h3>Overall: </h3>
                <div class = "starratings"  id = "personstar"></div>                        

                <div data-role="fieldcontain" >
                    <fieldset data-role="controlgroup" data-type="horizontal" id = "personality">
                        <legend>Personality: </legend>
                            <input type="radio" name="personality-choice-2" id="personality-choice-21" value="1" />
                            <label for="personality-choice-21">Unpleasant</label>                            

                            <input type="radio" name="personality-choice-2" id="personality-choice-22" value="2"  />
                            <label for="personality-choice-22">Pleasant</label>
                    </fieldset>
                </div>

                <div data-role="fieldcontain" >
                    <fieldset data-role="controlgroup" data-type="horizontal" id = "talking">
                        <legend>Talking/Conversation: </legend>
                            <input type="radio" name="talking-choice-2" id="talking-choice-21" value="1" />
                            <label for="talking-choice-21">Too Quiet</label>                            

                            <input type="radio" name="talking-choice-2" id="talking-choice-22" value="2"  />
                            <label for="talking-choice-22">Average</label>

                            <input type="radio" name="talking-choice-2" id="talking-choice-23" value="3"  />
                            <label for="talking-choice-23">Too Talkative</label>
                    </fieldset>
                </div>

                <div data-role="fieldcontain" >
                    <fieldset data-role="controlgroup" data-type="horizontal"id = "expertise">
                        <legend>Expertise: </legend>
                            <input type="radio" name="expertise-choice-2" id="expertise-choice-21" value="1" />
                            <label for="expertise-choice-21">Unexperienced</label>                            

                            <input type="radio" name="expertise-choice-2" id="expertise-choice-22" value="2"  />
                            <label for="expertise-choice-22">Average</label>

                            <input type="radio" name="expertise-choice-2" id="expertise-choice-23" value="3"  />
                            <label for="expertise-choice-23">Very Experienced</label>
                    </fieldset>
                </div>

                <a data-role="button" data-theme="a" href="" data-icon="check" data-iconpos="right" id = "next_button" onclick = "showservice()">                    
                    Continue (2/3)
                </a>
            </div>
        </div>
 
        <div id="rate_service" class = "hidden">
            <div data-theme="a" data-role="header">
                <h3>
                    Service
                </h3>
                <div data-role="navbar" data-iconpos="left">
                    <ul>
                        <li>
                            <a href="../" data-rel = "back" data-transition="fade" data-theme="a" data-icon="arrow-l">
                                Back
                            </a>
                        </li>
                        <li>
                            <a href="../" data-transition="fade" data-theme="" data-icon="home">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#home" data-transition="fade" data-theme="" data-icon="refresh" onclick="location.reload(true)">
                                Refresh
                            </a>
                        </li>
                    </ul>
                </div>                
            </div>
            <div data-role="content">  
                <h1>Service Feedback</h1>
              
                <h3>Overall: </h3>
                <div class = "starratings"  id = "servicestar"></div>  

                <div data-role="fieldcontain" >
                    <fieldset data-role="controlgroup" data-type="horizontal" id = "pricing">
                        <legend>Pricing: </legend>
                            <input type="radio" name="pricing-choice-2" id="pricing-choice-21" value="1" />
                            <label for="pricing-choice-21">Cheap</label>                            

                            <input type="radio" name="pricing-choice-2" id="pricing-choice-22" value="2"  />
                            <label for="pricing-choice-22">Average</label>

                            <input type="radio" name="pricing-choice-2" id="pricing-choice-23" value="3"  />
                            <label for="pricing-choice-23">Expensive</label>
                    </fieldset>
                </div>

                <div data-role="fieldcontain" >
                    <fieldset data-role="controlgroup" data-type="horizontal" id = "howdoyoulook">
                        <legend>How do you look? </legend>
                            <input type="radio" name="howdoyoulook-choice-2" id="howdoyoulook-choice-21" value="1" />
                            <label for="howdoyoulook-choice-21">Terrible</label>                            

                            <input type="radio" name="howdoyoulook-choice-2" id="howdoyoulook-choice-22" value="2"  />
                            <label for="howdoyoulook-choice-22">Decent</label>

                            <input type="radio" name="howdoyoulook-choice-2" id="howdoyoulook-choice-23" value="3"  />
                            <label for="howdoyoulook-choice-23">Excellent</label>
                    </fieldset>
                </div>

                <div data-role="fieldcontain" >
                    <fieldset data-role="controlgroup" data-type="horizontal" id = "timeliness">
                        <legend>Timeliness: </legend>
                            <input type="radio" name="timeliness-choice-2" id="timeliness-choice-21" value="1" />
                            <label for="timeliness-choice-21">Very slow</label>                            

                            <input type="radio" name="timeliness-choice-2" id="timeliness-choice-22" value="2"  />
                            <label for="timeliness-choice-22">Average</label>

                            <input type="radio" name="timeliness-choice-2" id="timeliness-choice-23" value="3"  />
                            <label for="timeliness-choice-23">Very fast</label>
                    </fieldset>
                </div>                      


                <form action="/submit/" method="post" onsubmit = "alert('here submitting'); showfinal()">
                    {% csrf_token %}
                    <table style="display:none">
                        <tr><th><label for="id_stylist">Stylist:</label></th><td><input id="id_stylist" maxlength="200" name="stylist" type="text" /></td></tr>
                        <tr><th><label for="id_salon">Salon:</label></th><td><input id="id_salon" maxlength="200" name="salon" type="text" /></td></tr>
                        <tr><th><label for="id_service">Service:</label></th><td><input id="id_service" maxlength="200" name="service" type="text" /></td></tr>
                        <tr><th><label for="id_salon_rating">Salon rating:</label></th><td><input id="id_salon_rating" name="salon_rating" type="text" /></td></tr>
                        <tr><th><label for="id_stylist_rating">Stylist rating:</label></th><td><input id="id_stylist_rating" name="stylist_rating" type="text" /></td></tr>
                        <tr><th><label for="id_atmosphere_rating">Atmosphere rating:</label></th><td><input id="id_atmosphere_rating" name="atmosphere_rating" type="text" /></td></tr>
                        <tr><th><label for="id_service_rating">Service rating:</label></th><td><input id="id_service_rating" name="service_rating" type="text" /></td></tr>
                        <tr><th><label for="id_wait_rating">Wait rating:</label></th><td><input id="id_wait_rating" name="wait_rating" type="text" /></td></tr>
                        <tr><th><label for="id_personality_rating">Personality rating:</label></th><td><input id="id_personality_rating" name="personality_rating" type="text" /></td></tr>
                        <tr><th><label for="id_talking_rating">Talking rating:</label></th><td><input id="id_talking_rating" name="talking_rating" type="text" /></td></tr>
                        <tr><th><label for="id_expertise_rating">Expertise rating:</label></th><td><input id="id_expertise_rating" name="expertise_rating" type="text" /></td></tr>
                        <tr><th><label for="id_price_rating">Price rating:</label></th><td><input id="id_price_rating" name="price_rating" type="text" /></td></tr>
                        <tr><th><label for="id_quality_rating">Quality rating:</label></th><td><input id="id_quality_rating" name="quality_rating" type="text" /></td></tr>
                        <tr><th><label for="id_salon_feedback">Salon feedback:</label></th><td><input id="id_salon_feedback" maxlength="2000" name="salon_feedback" type="text" /></td></tr>
                        <tr><th><label for="id_stylist_feedback">Stylist feedback:</label></th><td><input id="id_stylist_feedback" maxlength="2000" name="stylist_feedback" type="text" /></td></tr>
                        <tr><th><label for="id_service_feedback">Service feedback:</label></th><td><input id="id_service_feedback" maxlength="2000" name="service_feedback" type="text" /></td></tr>
                    </table>
                    <input type="submit" value="Submit" data-role="button" data-theme="a" data-icon="check" data-iconpos="right" />


                </a>
                </form>

                <a data-role="button" data-theme="a" href="" data-icon="check" data-iconpos="right" id = "next_button" onclick = "showfinal()">
                    Finalize
                </a>
            </div>
        </div>

        <div id="complete" class = "hidden">
            <div data-theme="a" data-role="header">
                <h3>
                    Thanks for your feedback!
                </h3>
                <div data-role="navbar" data-iconpos="left">
                    <ul>
                        <li>
                            <a href="../" data-rel = "back" data-transition="fade" data-theme="a" data-icon="arrow-l">
                                Back
                            </a>
                        </li>
                        <li>
                            <a href="../" data-transition="fade" data-theme="" data-icon="home">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#home" data-transition="fade" data-theme="" data-icon="refresh" onclick="location.reload(true)">
                                Refresh
                            </a>
                        </li>
                    </ul>
                </div>                
            </div>
            <div data-role="content">                
                <h1>Thank you for your feedback!</h1>

                <a data-role="button" data-theme="a" href="../" data-icon="check" data-iconpos="right">
                    Return Home
                </a>
            </div>
        </div>        

    </body>
</html>
