<!DOCTYPE html>
<html>
    <head>        
        <meta charset="utf-8" />
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <title>
        </title>        
        <link rel="stylesheet" href="https://s3.amazonaws.com/codiqa-cdn/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
        <script src="https://s3.amazonaws.com/codiqa-cdn/jquery-1.7.2.min.js">
        </script>
        <script type="text/javascript">
            $(document).bind("mobileinit", function () {
                $.mobile.ajaxEnabled = false;
            });
        </script>
        <script src="https://s3.amazonaws.com/codiqa-cdn/mobile/1.2.0/jquery.mobile-1.2.0.min.js">        
        </script>

        {% load staticfiles %}

        <script src="{% static 'tips/jquery.raty.js' %}">
        </script>

        <!-- User-generated css -->
        <style>
        </style>
        <!-- User-generated js -->        
    </head>
    <body>
        <!-- Home -->

        <div id="search" class = "hidden">
            <div data-theme="a" data-role="header">
                <h3>
                    Search for Salons
                </h3>
                <div data-role="navbar" data-iconpos="left">
                    <ul>
                        <li>
                            <a href="../" data-rel = "back" data-transition="fade" data-theme="a" data-icon="arrow-l">
                                Back
                            </a>
                        </li>
                        <li>
                            <a href="../" data-transition="fade" data-theme="" data-icon="home">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#home" data-transition="fade" data-theme="" data-icon="refresh" onclick="location.reload(true)">
                                Refresh
                            </a>
                        </li>
                    </ul>
                </div>                
            </div>
            <div data-role="content">  
                <h4>Search for one or more of the following fields:</h3> 
                <form action="/search/" method="get">         
                    <input type="search" name="salon" id="search-salon" placeholder = "Search for a salon to find reviews"/> 
                    <input type="search" name="service" id="search-service" placeholder = "Search for a service to find reviews"/> 
                    <input type="search" name="stylist" id="search-stylist" placeholder = "Search for a stylist to find reviews"/> 
                    <input type="submit" value="Submit">
                </form>
                <div id = "results">
                    <p>You searched for: <strong>{{ query }}</strong></p>

                    {% if results %}
                        <p>Found {{ results|length }} result{{ results|pluralize }}.</p>
                        
                            {% for result in results %}
                            
                                <div data-role="collapsible" data-content-theme="c" style = "word-break:break-all; word-wrap: break-word;">
                                    <h3>                                        
                                        {{result.service }}: {{result.stylist }} at {{result.salon}}<i size = small>: {%widthratio result.salon_rating|add:result.service_rating|add:result.stylist_rating 3 1%}/5 </i>
                                                                              
                                    </h3>
                                    <div><i>Click map for directions:</i></div>
                                    {%if result.salon == "La Flamme" %}
                                        <a href = "https://maps.google.com/maps?saddr=harvard+square&amp;daddr=La+Flamme+Barber+Shop,+Dunster+Street,+Cambridge,+MA&amp;hl=en&amp;sll=42.036922,-71.683501&amp;sspn=2.770071,4.328613&amp;geocode=FVmPhgIdxqvD-ylf_vJE7XDjiTFOlftv_BKX4w%3BFTCOhgIdr87C-yHPGZ8u0KOUKylDDMPFQnfjiTHPGZ8u0KOUKw&amp;oq=la+flamme&amp;t=h&amp;mra=ls&amp;z=14" target = "_blank">
                                            <img src="https://maps.googleapis.com/maps/api/staticmap?center=Cambridge, MA&amp;zoom=14&amp;size=288x200&amp;markers=21 Dunster Street Cambridge, MA 02138&amp;sensor=false" width="240" height="200" >
                                        </a>
                                    {%elif result.salon == "Great Clips" %}
                                        <a href = "https://maps.google.com/maps?saddr=Harvard+University,+1350+Massachusetts+Ave,+Cambridge,+MA&amp;daddr=great+clips&amp;hl=en&amp;ll=42.36032,-71.101627&amp;spn=0.043064,0.067635&amp;sll=42.372536,-71.091949&amp;sspn=0.043055,0.067635&amp;geocode=FS2UhgId1djC-yHwJyTuXMY3WSmZAX99QnfjiTHwJyTuXMY3WQ%3BFSwmhgIdHV3D-yE8DmPX1E7KBCnlk0e3EXrjiTE8DmPX1E7KBA&amp;t=h&amp;mra=ls&amp;z=14" target = "_blank">
                                            <img src="https://maps.googleapis.com/maps/api/staticmap?center=Cambridge, MA&amp;zoom=12&amp;size=288x200&amp;markers=800 Boylston Street Boston, MA 02199&amp;sensor=false" width="240" height="200" >
                                        </a>
                                    {%elif result.salon == "Hair Cuttery" %}
                                        <a href = "https://maps.google.com/maps?saddr=Harvard+University,+1350+Massachusetts+Ave,+Cambridge,+MA&amp;daddr=hair+cuttery+near+Harvard+Square,+Boston,+MA&amp;hl=en&amp;sll=42.379778,-71.0561&amp;sspn=0.003805,0.004227&amp;geocode=FS2UhgId1djC-yHwJyTuXMY3WSmZAX99QnfjiTHwJyTuXMY3WQ%3BFUuYhgIdI6LD-yEc8VvWxMjuGindKqBT7HDjiTEc8VvWxMjuGg&amp;oq=harvard+university&amp;t=h&amp;mra=ls&amp;z=14" target = "_blank">
                                            <img src="https://maps.googleapis.com/maps/api/staticmap?center=Cambridge, MA&amp;zoom=12&amp;size=288x200&amp;markers=1 Eliot Street Cambridge, MA 02138&amp;sensor=false" width="240" height="200" >
                                        </a>
                                    {%endif %}

                                    <p>
                                        <ul>
                                            <li>
                                                <b>Salon Rating: </b> {{result.salon_rating}}/5
                                            </li>
                                            <li>
                                                <b>Stylist Rating: </b> {{result.stylist_rating}}/5
                                            </li>                                            
                                            <li>
                                                <b>Service Rating: </b> {{result.service_rating}}/5
                                            </li>
                                        </ul>

                                    </p>
                                </div>
                                
                            
                            {% endfor %}
                        
                    {% else %}
                        <p>No results matched your search criteria.</p>
                    {% endif %}
                </div>               
            </div>
        </div>
              

    </body>
</html>
