<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <title>
        </title>
        <link rel="stylesheet" href="https://s3.amazonaws.com/codiqa-cdn/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
        <link rel="stylesheet" href="css/custom.css" />
        <script src="https://s3.amazonaws.com/codiqa-cdn/jquery-1.7.2.min.js">
        </script>
        <script type="text/javascript">
            $(document).bind("mobileinit", function () {
                $.mobile.ajaxEnabled = false;
            });
        </script>
        <script src="https://s3.amazonaws.com/codiqa-cdn/mobile/1.2.0/jquery.mobile-1.2.0.min.js">        
        </script>
        <!-- User-generated css -->
        <style>
        </style>

        {% load staticfiles %}

        <script src="{% static 'tips/jquery.raty.js' %}">
        </script>

        <!-- User-generated js -->
        <script>                        
               

        </script>
        <script>

        </script>
    </head>
    <body>
        <!-- Home -->
        <div data-role="page" id="home">
            <div data-theme="a" data-role="header">
                <h3>
                    Game of Phones
                </h3>
                <div data-role="navbar" data-iconpos="left">
                    <ul>
                        <li>
                            <a href="home.html" data-rel = "back" data-transition="fade" data-theme="a" data-icon="arrow-l">
                                Back
                            </a>
                        </li>
                        <li>
                            <a href="home.html" data-transition="fade" data-theme="" data-icon="home">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#home" data-transition="fade" data-theme="" data-icon="refresh" onclick="location.reload(true)">
                                Refresh
                            </a>
                        </li>
                    </ul>
                </div>
                <div style=" text-align:center">
                    <img style="width: 100%; height: 100px" src="http://cbsdetroit.files.wordpress.com/2011/01/salon-vox.jpg" />
                </div>
            </div>
            <div data-role="content">
                <a data-role="button" href="tips/" data-icon="check" data-iconpos="right">
                    Review a Salon
                </a>
                <a data-role="button" href="search/" data-icon="search" data-iconpos="right">
                    Search for Salons Near You
                </a>
            </div>
        </div>
        

        

    </body>
</html>
